Alerta a clientes_web.json
{
  "name": "Alerta a clientes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        464,
        -272
      ],
      "id": "772a7e43-48b3-49bb-873b-7412828942a8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM alertas_busqueda\nWHERE activa = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -272
      ],
      "id": "ea000ad6-80ae-4dc5-a9d2-912688400fe7",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "pc8Tsi55tomPCEFJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -272
      ],
      "id": "76a3c4c3-4202-4030-afc1-acba74c86059",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM propiedades\nWHERE 1=1\n\nAND (\n    {{ $json.tipo_propiedad ? `'${$json.tipo_propiedad}'` : 'NULL' }} IS NULL\n    OR tipo_propiedad = '{{ $json.tipo_propiedad }}'\n)\n\nAND (\n    {{ $json.locacion ? `'${$json.locacion}'` : 'NULL' }} IS NULL\n    OR locacion = '{{ $json.locacion }}'\n)\n\nAND (\n    {{ $json.precio_usd || 'NULL' }} IS NULL\n    OR precio_usd <= {{ $json.precio_usd }}\n)\n\nAND (\n    {{ $json.metros_cuadrados || 'NULL' }} IS NULL\n    OR metros_cuadrados >= {{ $json.metros_cuadrados }}\n)\nAND (\n    '{{ $json.operacion }}' = ''\n    OR '{{ $json.operacion }}' IS NULL\n    OR operacion = '{{ $json.operacion }}'\n)\nORDER BY precio_usd ASC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -64
      ],
      "id": "f20c0b8b-c19a-401e-a88f-b91c9f018b34",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "pc8Tsi55tomPCEFJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c94d0ba3-a014-428b-8a06-8283b4aea39b",
              "leftValue": "={{ $json.titulo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1456,
        -64
      ],
      "id": "f5addabf-8540-4f3f-9510-66ab15abe8c9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const propiedades = $input.all();\n\nlet mensaje = \"🏠 Hola! Una nueva propiedad fue cargada y podria interesarte:\\n\\n\";\n\nfor (const item of propiedades) {\n  const p = item.json;\n\n  mensaje += `📍 ${p.titulo}\\n`;\n  mensaje += `🏡 Tipo: ${p.tipo_propiedad}\\n`;\n  mensaje += `📌 Ubicación: ${p.locacion}\\n`;\n  mensaje += `📐 ${p.metros_cuadrados} m²\\n`;\n  mensaje += `💰 USD ${p.precio_usd}\\n`;\n  mensaje += `📝 ${p.descripcion}\\n`;\n  mensaje += `🔗 ${p.url}\\n\\n`;\n}\n\nmensaje += \"Si te interesa alguna propiedad puedo brindarte más información.\";\n\nreturn [{\n  json: {\n    body: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -80
      ],
      "id": "eb62962e-8aaa-4eba-b087-feb77741dd5b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rest.ably.io/channels/propiedades_user_{{ $('Execute a SQL query').item.json.telefono }}/messages  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"message\",\n  \"data\": {\n    \"text\": {{ JSON.stringify($json.body) }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1936,
        -80
      ],
      "id": "ad0bb204-665f-452b-ba4d-694badbc3655",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "fpzkx8144F1T2QbX",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM alertas_busqueda\nWHERE id = {{ $('Execute a SQL query').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        -80
      ],
      "id": "8a60583d-7036-482b-870f-270d025af147",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "pc8Tsi55tomPCEFJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rest.ably.io/channels/propiedades_user_{{ $('Recibo mensaje').item.json.body.data.from }}/messages ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"message\",\n  \"data\": {\n    \"text\": \"Actualmente no encontré propiedades con esos criterios. Voy a guardar tu búsqueda y te avisaré automáticamente cuando ingrese una propiedad compatible. Le gustaria consultar otra cosa?\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        256
      ],
      "id": "55e234f8-4f2e-4a3b-88a5-1d05a1386726",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "fpzkx8144F1T2QbX",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2b8bd1e-e040-4fb4-91a8-3e2b78eaf3ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ba758f803696833b125f36085b14107fbd105cb60b31539b6589568f710a634"
  },
  "id": "dNeA4xNNaEz9JPxn",
  "tags": []
}